<div class="container" style="background-color: red;">
    <div class="card" style="background-color: #282828; color: wheat;">
        <div class="card-content">
            <form  #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
                <h5 class="center-align">Cadastro de pessoas</h5>

                <mz-collapsible [mode]="'expandable'" [onClose]="closeFunctionCallback" [onOpen]="openFunctionCallback"
                    [popout]="true">
                    <mz-collapsible-item [active]="true">
                        <mz-collapsible-item-header>
                            <i class="fa fa-users"></i> Dados Pessoais
                        </mz-collapsible-item-header>
                        <mz-collapsible-item-body>
                            <div class="row">
                                <mz-input-container class="col s12 m6">
                                    <input mz-input name="name" type="text" [label]="'Nome'" lenght="60"
                                        [validate]="true" [(ngModel)]="p.name"  mz-validation required                                      
                                        
                                    
                                        />

                                        <!--input mz-input mz-validation required
                                        name="name"
                                        id="input-name"
                                        formControlName="name"
                                        type="text"
                                        [errorMessageResource]="errorMessageResources.name"
                                        [label]="'Nome'" 
                                        [(ngModel)]="p.name"/-->

                                </mz-input-container>
                                <mz-input-container class="col s12 m6">
                                    <input mz-input name="lastName" type="text" [label]="'Sobrenome'" lenght="60"
                                        [(ngModel)]="p.lastName"  mz-validation required />
                                </mz-input-container>
                            </div>

                            <div class="row">
                                <div class="col s6">
                                    <mz-radio-button-container class="col s6 m4">
                                        <input mz-radio-button [label]="'Masculino'" [withGap]="true" id="radio-button-id2"
                                            name="radio-group" type="radio" value="Masculino" [(ngModel)]="p.gen">
                                    </mz-radio-button-container>
    
                                    <mz-radio-button-container class="col s6 m4">
                                        <input mz-radio-button [label]="'Feminino'" [withGap]="true" id="radio-button-id"
                                            name="radio-group" type="radio" value="Feminino" [(ngModel)]="p.gen">
                                    </mz-radio-button-container>
                                </div>
                            </div>

                        </mz-collapsible-item-body>
                    </mz-collapsible-item>

                    <!-- Endereço -->
                    <mz-collapsible-item [active]="true">
                        <mz-collapsible-item-header>
                            <i class="fa fa-map"></i> Endereço
                        </mz-collapsible-item-header>
                        <mz-collapsible-item-body>
                            <div class="row">
                                <mz-select-container class="col s12 m6">
                                    <select name="city" mz-select id="cidade" [label]="'Cidade'" [(ngModel)]="p.city" mz-validation required>
                                        <option>Dois Vizinhos</option>
                                        <option>Francisco Beltrão</option>
                                        <option>Pato Branco</option>
                                    </select>
                                </mz-select-container>
                                <mz-select-container class="col s12 m6">
                                    <select name="neighborhood" mz-select id="bairro" [label]="'Bairro'" mz-validation required 
                                        [(ngModel)]="p.neighborhood">
                                        <option>Centro</option>
                                        <option>Fraron</option>
                                        <option>Alto da Gloria</option>
                                        <option>La Salle</option>
                                    </select>

                                </mz-select-container>
                            </div>
                        </mz-collapsible-item-body>
                    </mz-collapsible-item>

                    <!-- Observação -->
                    <mz-collapsible-item [active]="true">
                        <mz-collapsible-item-header>
                            <i class="fa fa-comment"></i>
                            Observações
                        </mz-collapsible-item-header>
                        <mz-collapsible-item-body>
                            <mz-textarea-container>
                                <textarea name="obs" mz-textarea [label]="'Observações'" id="observacao" lenght="500"
                                    [(ngModel)]="p.obs">
                        </textarea>
                            </mz-textarea-container>
                        </mz-collapsible-item-body>
                    </mz-collapsible-item>
                    <!-- (click)="save()" -->                 
                </mz-collapsible>
                <button class="green "  [disabled]="form.invalid"  type="submit" mz-button>
                    Salvar
                </button>
            </form>
        </div>
    </div>
</div>